*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%
}
.home-section{
    background: #f5f5f5;
    position: relative;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}
.home-section.active{
    width: calc(100% - 60px);
    left: 60px;
}
