.sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background: #0A2558;
}
.sidebar ul{
    margin-left: 0;
    padding-left: 0;
}
.sidebar .logo-details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center;
}
.sidebar .logo-details .logo_name{
    font-size: 24px;
    font-weight: 500;
    color:#fff;
}
.sidebar .nav-links{
    margin-top: 16px;
}
.sidebar .nav-links li{
    height: 50px;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a:hover{
    background: #081D45;
}
.sidebar .nav-links li a i{
    /*background: red;*/
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.sidebar .nav-links li a .link_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
