<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxl-java'></i>
        <span class="logo_name">Warehouse</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-home-alt-2' ></i>
                <span class="link_name">Warehouses</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-menu'></i>
                <span class="link_name">Inventory</span>
            </a>
        </li>
    </ul>
</div>