.home-content {
    padding-top: 100px;
}

.home-content .overview-boxes {

    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 150px;
    /*overflow: hidden;
    flex-wrap: wrap;
    position: relative;*/
}

.home-content .overview-boxes .box {
    width: calc(100% / 4 - 45px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 14px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.home-content .overview-boxes .box_topice {
    font-size: 20px;
    font-weight: 500;
}

.home-content .overview-boxes .number {
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;

}

.overview-boxes .indicator {
    display: flex;
    align-items: center;
}

.overview-boxes .indicator i {
    height: 20px;
    width: 20px;
    background: #8FDACB;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
}

.overview-boxes .indicator .text {
    font-size: 12px;
}

.overview-boxes .box .cart {
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    color: #66b0ff;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}

.home-content .sales-boxes {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 520px;
}

.home-content .sales-boxes .recent-sale.box .title {
    font-size: 24px;
    font-weight: 500;
    padding: 20px 20px 100px 6px;

}

.home-content .sales-boxes .top-sales.box {
    overflow-y: hidden;

}

.home-content .sales-boxes .top-sales.box .sales-details {
    overflow-y: scroll;
    height: 400px;
}

.home-content .sales-boxes .top-sales.box span {
    text-decoration: none;
    color: #000;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px;
    width: 280px;
}

.home-content .sales-boxes .top-sales.box img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}

.home-content .sales-boxes .top-sales.box .title {
    font-size: 24px;
    font-weight: 500;
    padding: 20px 20px 20px 0px;
}

.home-content .sales-boxes .top-sales.box .sales-details .details li {
    display: flex;
    margin: 0 0 10px 0;
    font-size: 15px;
    font-weight: 500;
    align-items: center;

}

.home-content .sales-boxes .recent-sale {
    width: 65%;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.home-content .sales-boxes .top-sales {
    width: 35%;
    margin-left: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.sales-boxes .top-sales.box .sales-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.charts-css.bar.show-labels {
    --labels-size: 119px;
}

table.charts-css {
    /*padding: 87px 0;*/
}

.sales-details::-webkit-scrollbar {
    width: 10px;
}

.sales-details::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #e0e0e0;

}

.sales-details::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.sales-details::-webkit-scrollbar-thumb:hover {
    background: #555;
}