.warehouse-content{
    padding: 100px 20px 0 20px;
}
.table-header{
    display: flex;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  table i{
    cursor: pointer;
  }