<div class="warehouse-content">
    <div class="table-header">
        <h2>Warehouse Table</h2>
        <!--<button class="btn" (click)="revealCreateForm()"><i class='bx bx-plus'>New</i></button>-->
    </div>
    <div class="table-container mat-elevation-z8">
        <mat-table class="styled-table" [dataSource]="dataSource" matSort>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let warehouse">{{warehouse.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
                <mat-cell *matCellDef="let warehouse">356 Terra Cotta Street Philadelphia, PA</mat-cell>
            </ng-container>
            <ng-container matColumnDef="zip">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Zipcode</mat-header-cell>
                <mat-cell *matCellDef="let warehouse">19099</mat-cell>
            </ng-container>
            <ng-container matColumnDef="stock">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Stock</mat-header-cell>
                <mat-cell *matCellDef="let warehouse">{{warehouse.stock}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="capacity">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Capacity</mat-header-cell>
                <mat-cell *matCellDef="let warehouse">{{warehouse.capacity}}</mat-cell>
            </ng-container>
            <!--
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Edit</mat-header-cell>
                <mat-cell *matCellDef="let warehouse"><i class='bx bx-edit-alt'
                        [attr.data-warehouse-id]="warehouse.id"></i></mat-cell>
            </ng-container>-->
            <ng-container matColumnDef="star">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Star</mat-header-cell>
                <mat-cell *matCellDef="let warehouse"><i *ngIf="warehouse.favorited == 1;" class='bx bxs-star filled'
                        [attr.data-warehouse-id]="warehouse.id" (click)="toggleStar(warehouse)"></i><i *ngIf="warehouse.favorited == 0;"
                        class='bx bx-star' [attr.data-warehouse-id]="warehouse.id" (click)="toggleStar(warehouse)"></i></mat-cell>
            </ng-container>

            <!-- Row shown when there is no matching data. -->
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <!--<td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>-->
            </tr>

        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10]" aria-label="Select page of users">
        </mat-paginator>
    </div>
    <div id="nav"></div>
</div>
<!--
<div class="modal" [hidden]="modalHidden">
    <form class="modal-content edit" [hidden]="isEditFormHidden">
        <header>
            <span class="edit-title">Edit Warehouse</span>
            <button class="btn" (click)="revealCreateForm()"><i class='bx bx-plus'>New</i></button>
        </header>
        <div class="form-body">
            <div class="row">
                <div class="column">
                    <input type="text" class="item-name">
                </div>
                <div class="column">
                    <input type="text" class="building-id">
                </div>
            </div>

            <div class="row">
                <input type="text" class="quantity">
            </div>
            <div class="row">
                <input type="text" class="date">
            </div>
        </div>
        <footer>
            <button class="cancel">Cancel</button>
            <button class="submit">Submit</button>
        </footer>
    </form>
    <form class="modal-content create" [hidden]="isCreateFormHidden">
        <header>
            <span class="create-title">Create Warehouse</span>
            <button class="btn" (click)="revealCreateForm()"><i class='bx bx-plus'>New</i></button>
        </header>
        <div class="form-body">
            <div class="row">
                <div class="column">
                    <input type="text" class="item-name">
                </div>
                <div class="column">
                    <input type="text" class="building-id">
                </div>
            </div>

            <div class="row">
                <input type="text" class="quantity">
            </div>
            <div class="row">
                <input type="text" class="date">
            </div>
        </div>
        <footer>
            <button class="cancel">Cancel</button>
            <button class="submit">Submit</button>
        </footer>
    </form>
    
</div>-->