nav{
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
}
nav.active{
    width: calc(100% - 60px);
    left: 60px
}
nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}
nav .sidebar-button i{
    font-size: 35px;
    margin-right: 10px;
    cursor: pointer;
}
nav .search-box{
    height: 50px;
    width: 550px;
    margin: 0 20px;
    position: relative;
}
nav .search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px 0 0 6px;
    padding: 0 15px;
    font-size: 17px;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    outline: none;
}
nav .search-box .bx-search{
    position: absolute;
    right: -86px;
    top: 54%;
    transform: translateY(-50%);
    height: 53px;
    width: 52px;
    background: #2697ff;
    border-radius: 0 6px 6px 0;
    color: #fff;
    font-size: 22px;
    line-height: 53px;
    text-align: center;
    cursor: pointer;
}
.profile-details{
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 190px;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    padding: 0 15px 0 2px;
}
nav .profile-details img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}
nav .profile-details .admin_name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
    width: 105px
}
nav .profile-details i{
    color: #333;
    font-size: 25px;
    cursor: pointer;
}