nav{
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}
nav .sidebar-button i{
    font-size: 35px;
    margin-right: 10px;
}
nav .search-box{
    height: 50px;
    width: 550px;
    margin: 0 20px;
    position: relative;
}
nav .search-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    outline: none;
}
nav .search-box .bx-search{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: #2697ff;
    border-radius: 6px;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}