<nav>
    <div class="sidebar-button">
        <i class='bx bx-menu' (click)="toggleSidebar()"></i>
        <span class="dashboard">Dashboard</span>
    </div>
    <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class="bx bx-search"></i>
    </div>
    <div class="profile-details">
    <img src="/assets/images/514-5147412_default-avatar-icon.png" alt="" srcset="">
    <span class="admin_name">John Doe</span>
    <i class='bx bxs-chevron-down'></i>
    </div>
</nav>